// typography classes

.font-merriweather{
    font-family: $font-merriweather;
}

.font-overpassr{
    font-family: $font-overpass;
}

.font-archivo{
    font-family: $font-archivo;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-20{
    font-size: 20px;
}